 body, html {
        height: 100%;
        background-repeat: no-repeat;
        background: url("https://i.ibb.co/B341DpN/bg-palm.jpg") no-repeat center center fixed;
        background-size: 100% 100%;
    }
.container{
    background-color: aliceblue;
}
.card1 .card2 .card3 .card4 .card5 .card6{
    position: relative;
    grid-row-start: auto;
}
